absl-py==0.7.0
astor==0.7.1
awscli==1.16.156
awsebcli==3.15.0
boto3==1.9.148
botocore==1.12.148
cement==2.8.2
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
dj-database-url==0.5.0
Django==2.1.7
django-storages==1.7.1
docutils==0.14
future==0.16.0
gast==0.2.2
grpcio==1.19.0
gunicorn==19.9.0
idna==2.7
jmespath==0.9.4
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.3
numpy==1.16.2+mkl
opencv-python==4.0.1+contrib
pafy==0.5.4
pandas==0.24.1
pathspec==0.5.9
Pillow==5.4.1
protobuf==3.7.0
psycopg2-binary==2.7.7
pyasn1==0.4.5
pyparsing==2.3.1
pypiwin32==223
python-dateutil==2.8.0
pytz==2018.9
pywin32==224
PyYAML==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.0
scipy==1.2.1
semantic-version==2.5.0
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.14.1
whitenoise==4.1.2
youtube-dl==2019.4.30
