<!--템플릿 상속-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--css-->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>

<!--html-->
<div class="banner">
    <h1 id="d-day"></h1>
    <ul>
        <li><img src="{% static 's1.png' %}" width="80%" height="100%"></li>
        <li><img src="{% static 's2.png' %}" width="80%" height="100%"></li>
        <li><img src="{% static 's3.png' %}" width="80%" height="100%"></li>
        <li><img src="{% static 's4.png' %}" width="80%" height="100%"></li>
    </ul>
</div>

<div class="menuButton">
    <a href="{% url 'notice' %}"><img src="{% static 'notice.png' %}" alt="notice" class="img_button"></a>
    <a href="{% url 'stamp' %}"><img src="{% static 'event.png' %}" alt="event" class="img_button"></a>
    <a href="{% url 'timetable' %}"><img src="{% static 'timetable.png' %}" alt="timetable" class="img_button"></a>
    <a href="{% url 'map' %}"><img src="{% static 'map.png' %}" alt="map" class="img_button"></a>
    <a href="{% url 'show' %}"><img src="{% static 'board.png' %}" alt="board" class="img_button"></a>
    <a href="#"><img src="{% static 'gallery.png' %}" alt="gallery" class="img_button"></a>
</div>

{% endblock %}