{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mapst.css' %}">
<div id="map">
 <div id="tab">
 <div><a href="#">영근터</a></div>
 <div><a href="#">소영근터</a></div>
 <div><a href="#">학관앞</a></div>
 <div><a href="#">민주동산</a></div>
 </div>
<div id="img"><img src="{% static 'img/test.jpg' %}"></div>
</div>

 <!--truck-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <ul>
        <li class="truck"><span><a href="#">두끼떡볶이</a></span></li>
        <li class="truck"><span><a href="#">타코야끼</a></span></li>
        <li class="truck"><span><a href="#">녹차호떡</a></span></li>
        <li class="truck"><span><a href="#">야채곱창</a></span></li> 
    </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li class="flea"><span><a href="#">동화플리마켓</a></span></li>
        <li class="flea"><span><a href="#">멋사플리마켓</a></span></li>
        <li class="flea"><span><a href="#">덕성플리마켓</a></span></li>
        <li class="flea"><span><a href="#">도봉플리마켓</a></span></li> 
    </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li class="booth"><span><a href="#">유교과</a></span></li>
        <li class="booth"><span><a href="#">철학과</a></span></li>
        <li class="booth"><span><a href="#">회계학과</a></span></li>
        <li class="booth"><span><a href="#">컴퓨터학과</a></span></li> 
    </ul>
    </div>
    </div>
    </div>

{% endblock %}