{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> 
<style>
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight:normal; font-style: normal; }
  body{background-color: #f5f5f5;}
  div#back {
    font-family: 'NanumSquare';
    width:60em;
    height: 130em;
    /*padding: 1em;*/
    background-color: #ffffff;
    margin: 0.5em;
    margin-top:0em;
    box-shadow: 2px 2px 5px grey;
  }
  div#back ul{list-style-type:none;}
  /* tab */
  div#tablist {margin-top:2em;margin-left:0.5em;}
  div#back img {
    width:58em;
    height:60em;
  }
  /* a tag 
  { text-decoration: none; color:#362f2d;font-size:1.5em;} */

  #m1,#m2,#m3,#m4,#m5,#m6,#m7 {
    margin-left:2em;
    margin-right:2em;
    font-size:2em;
    display:inline-block;
  }
  #maplist{margin-left:2em;margin-top:1em;margin-right:2em;}
</style>

<!-- map tab -->
<div id="tablist">  
  <img id="defaultOpen" class="tabs" onclick="change(this,'22d',0)" src="{% static 'img/22day.png' %}">
  <img class="tabs" onclick="change(this,'23d',1)" src="{% static 'img/23day.png' %}">
  <img class="tabs" onclick="change(this,'23n',2)" src="{% static 'img/23night.png' %}">
  <img class="tabs" onclick="change(this,'24d',3)" src="{% static 'img/24day.png' %}">
  <img class="tabs" onclick="change(this,'24n',4)" src="{% static 'img/24night.png' %}">
</div>

<!--background div : shadow-->
<div id="back">
  <!-- 22일 낮지도 -->
  <div id="22d" class="tabcontent">
    <img src="{% static 'img/map22d.png'%}">
    <div id="maplist">
    <h1><span style="background-color:#2e75b6">&nbsp;&nbsp;</span> 민주동산</h1>
    <div id="m1">
      <ul>
        <li>[1] 총학 음식존</li>
        <li>[2] 자연대 학생회</li>
        <li>[3] 피스</li>
        <li>[4] 회계학과</li>
        <li>[5] 쿠사</li>
      </ul>
    </div>
    <div id="m2">
      <ul>
        <li>[6] 운지문학회</li>
        <li>[7] 멋쟁이사자처럼</li>
        <li>[8] 우푸</li>
        <li>[9] 예운</li>
        <li>&nbsp;</li>
      </ul>
    </div>
  <hr>
    <h1><span style="background-color:#ffd966">&nbsp;&nbsp;</span> 소영근터</h1>
     <div id="m3">
        <ul>
          <li>[1] 총학 만들기</li>
          <li>[2] 총학 게임존</li>
        </ul>
     </div>
     <div id="m4">
        <ul>
          <li>[3] 타투</li>
          <li>[4] 타로</li>
        </ul>
     </div>
  <hr>
     <h1><span style="background-color:#70ad47">&nbsp;&nbsp;</span> 영근터</h1>
      <div id="m5">
        <ul>
          <li>[1] 파동</li>
          <li>[2] 로미오</li>
          <li>[3] 빛내미</li>
        </ul>
      </div>
      <div id="m6">
        <ul>
          <li>[4] 유아교육학과</li>
          <li>[5] 생활체육학과</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    <hr>
        <h1><span style="background-color:#a365d1">&nbsp;&nbsp;</span> 학생회관</h1>
        <div id="m7">
          <ul>
            <li>[1] 한빛</li>
            <li>[2] 아미공 내부자들</li>
          </ul>
        </div>
      </div>

  <!-- 23일 낮지도 -->
  <div id="23d" class="tabcontent">
    <img src="{% static 'img/map23d.png'%}">
  </div>


  <!-- 23일 밤지도 -->
  <div id="23n" class="tabcontent">
    <img src="{% static 'img/map23n.png'%}">
  </div>

  <!-- 24일 낮지도 -->
  <div id="24d" class="tabcontent">
    <img src="{% static 'img/map24d.png'%}">
  </div>

  <!-- 24일 밤지도 -->
  <div id="24n" class="tabcontent">
    <img src="{% static 'img/map24n.png'%}">
  </div>

</div>

<script>
  function change(elmnt, day,j){
    // click image
    var src=["{% static 'img/22dayC.png' %}",
            "{% static 'img/23dayC.png' %}",
            "{% static 'img/23nightC.png' %}",
            "{% static 'img/24dayC.png' %}",
            "{% static 'img/24nightC.png' %}",
    ];
    // default image
    var src2=["{% static 'img/22day.png' %}",
            "{% static 'img/23day.png' %}",
            "{% static 'img/23night.png' %}",
            "{% static 'img/24day.png' %}",
            "{% static 'img/24night.png' %}",
    ];
    var i, tabcontent,tabs;

    tabcontent=document.getElementsByClassName("tabcontent");
    for(i=0;i<tabcontent.length;i++){
      tabcontent[i].style.display="none";
    }

    tabs=document.getElementsByClassName("tabs");
    // 현재 클릭한거 (j)랑 같으면 continue
    // 나머지는 default image로 바꿈
    for(i=0;i<tabs.length;i++){
      if (i==j) continue;
      tabs[i].setAttribute('src',src2[i]);
    }

    document.getElementById(day).style.display="block";
    elmnt.setAttribute('src',src[j]);
  }

  //default
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}