{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight:normal; font-style: normal; }
  div#tab div{
    background-color: #fc6b58;
    border-radius: 15% 15% 0 0;
    display: inline-block;
  }
  .maplink, .maplink:link, .maplink:visited, .maplink.active, .maplink.hover
  { text-decoration:none; 
    font-family: 'S-CoreDream-3Light';
  }
</style>

<div id="tab">
    <div><a class="maplink" href="#">영근터</a></div>
    <div><a class="maplink" href="#">소영근터</a></div>
    <div><a class="maplink" href="#">학관</a></div>
    <div><a class="maplink"href="#">민주동산</a></div>
</div>

<ul class="maplist">
  <li><a class="maplink" href="#">두끼떡볶이</a></li>
  <li><a class="maplink" href="#">타코야끼</a></li>
  <li><a class="maplink" href="#">녹차호떡</a></li>
  <li><a class="maplink" href="#">야채곱창</a></li>
</ul>

<ul class="maplist">
  <li><a class="maplink" href="#">동화플리마켓</a></li>
  <li><a class="maplink" href="#">멋사플리마켓</a></li>
  <li><a class="maplink" href="#">덕성플리마켓</a></li>
  <li><a class="maplink" href="#">도봉플리마켓</a></li>
</ul>

<ul class="maplist">
  <li><a href="#">유교과</a></li>
  <li><a href="#">철학과</a></li>
  <li><a href="#">회계학과</a></li>
  <li><a href="#">컴퓨터학과</a></li>
</ul>

{% endblock %}