<!--템플릿 상속-->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {background-color: #f5f5f5;}
    div#back {
    width:60em;
    padding: 1em;
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
    box-shadow: 2px 2px 5px grey;
    align-content: center;
    }
    .tt{
        padding-left: 4em;
        padding-bottom: 2em;
        width: 55em;
        align-items: center;   
    }
</style>
<div id="back">
    <img src="../static/img/tt.jpg" alt="timetable" class="tt">
    <img src="../static/img/lineup.png" alt="lineup" class="tt">
</div>
{% endblock %}