
html, body {
    width:100%;
    height: 100%;
    
}
.eventbg {
    margin:30%;
    border:2px solid red;
    width:100%;
    height:100%; 
    background-repeat: no-repeat;
    background-image: url('../eventbg.png');
    background-size:100%;
}
.stamp_box{
 
    background-color:red;
}
.sline1{
  
    display:inline;
    
}

#st1_img,#st2_img,#st3_img,#st4_img,#st5_img { 
    width: 9em; height:9em;
    transform:rotate(-20deg);
}