.eventbg {
    width:60%;
    height:70%;
    background-repeat: none;
    background-image: url('../eventbg.png');

}

#st1_img,#st2_img,#st3_img,#st4_img,#st5_img { 
    width: 4em; height:4em;
    transform:rotate(-20deg);
}