{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style>
  
  @font-face{ font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
  @font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight:normal; font-style: normal; }
  @font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
  
  @media (min-width: 1025px){
      .back{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
  }
  .eventbg {
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../static/eventbg.png');
    background-size:100%;
    padding-top:em;   
}
.stamp_title{
  padding-top: 15%;
}

.stamp_title10{
  margin-bottom:5em;
}
.h1style{
  font-size:2em;
 font-family: 'S-CoreDream-5Medium';
  text-align:center;
color:#ff3300;
}
.h3style{
  font-family:'S-CoreDream-3Light';
  text-align:center;
color:#362f2d;
font-size:1.0em;
}
#not{
  font-family: 'S-CoreDream-5Medium';
  text-align:center;
color:#ff3300;
margin-top: 3em;
font-size: 1em;
}
.vcontainer{
  width:100%;
  height:80%;

}
div.container{
  padding-top: 20%;
}
/* 비밀번호를 입력해주세요 */
.pwdText{
        font-family:'S-CoreDream-3Light';
        text-align:center;
        color:black;
        font-size:2em;
    }
    /* 입력 태그 */
    .pwdBox{
        background-repeat: no-repeat;
        width:50%;
        height:1em;
        background-image:url('../static/pwdbox.png');
        background-size: 100%;
        font-family:'S-CoreDream-3Light';
        text-align:center;
        color:black;
        font-size:3.3em;
        margin-top: 1em;
        margin-left: 27%;
        margin-right: auto;
    }
    
    /* 비밀번호 버튼 */
    .pwdbtn {
        background-repeat: no-repeat;
        background-image: url('../static/pwdbtn.png');
        background-size: 8em;
        width:8em;
        height:3.5em;
        margin-left:40%;
        margin-right:auto;
    }
    }
    @media (max-width: 1025px)  {
    
    .eventbg {
        width:61.5em;
        height:90em;
    
        background-repeat: no-repeat;
        background-image: url('../static/eventbg.png');
        background-size:100%;
        padding-top:8em;   
    }
    
    .container{
      min-width:60em;
      height:60em;
    
    }
    .sline1{
      
        display:inline;
        
    }
    
    
    
    .stamp_title{
      margin-bottom:15em;
    }
    
    .stamp_title10{
      margin-bottom:10em;
    }
    .h1style{
      font-size:4.3em;
     font-family: 'S-CoreDream-5Medium';
      text-align:center;
    color:#ff3300;
    }
    #not{
      font-family: 'S-CoreDream-5Medium';
      text-align:center;
    color:#ff3300;
    margin-top: 2em;
    }
    .h3style{
      font-family:'S-CoreDream-3Light';
      text-align:center;
    color:#362f2d;
    font-size:2.1em;
    }
 
    
    /* 비밀번호를 입력해주세요 */
    .pwdText{
        font-family:'S-CoreDream-3Light';
        text-align:center;
        color:black;
        font-size:3.3em;
    }
    /* 입력 태그 */
    .pwdBox{
        background-repeat: no-repeat;
        width:13.1em;
        height:2em;
        background-image:url('../static/pwdbox.png');
        background-size: 13em;
        font-family:'S-CoreDream-3Light';
        text-align:center;
        color:black;
        font-size:3.3em;
        margin-top: 3em;
        margin-left: 2em;
        margin-right: auto;
    }
    
    /* 비밀번호 버튼 */
    .pwdbtn {
        background-repeat: no-repeat;
        background-image: url('../static/pwdbtn.png');
        background-size: 11em;
        width:11em;
        height:5em;
        margin-left:23em;
        margin-right:auto;
    }
    }
</style>
<div class="back">
<div class="eventbg">
    <div class="stamp_title">
        <h1 class="h1style">백일화 100배 즐기기!</h1>
        <h3 class="h3style">숨겨진 다섯개의 스탬프 찾고 선물받자!</h3>
        <h3 id="not">※본 화면은 총학생회 확인용 화면입니다※</h3>
      </div>
    
      <div class="container" >
        <div class="row" >
            <div class="col">
              <h3 class="pwdText">비밀번호를 입력해주세요</h3> 
            </div>
            
        </div>	
        <br/> <br/> 
        <div class="row" >   
          <div class="col">      
            <form action="{%url 'check' %}">
                <input class="pwdBox" type="text" name="pwd"/>
                <input type="hidden" name="spot_num" value="4"/>
                <br/> <br/> 
                <br/><input type="submit" value="" class="pwdbtn" />
            </form>
        </div> 
        </div>
      </div>
</div>
</div>
</div>
{% endblock %}
