{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight:normal; font-style: normal; }

    div#header{
        width: 61.5em;
    }
    body {background-color:#f5f5f5; width: 61.5em;}
    /* back div - shadow */
    #back {
        width: 60em;
        min-height: 70em;
        margin: 1em;
        background-color: #ffffff;
        box-shadow: 2px 2px 5px grey;
        }

    /* contents */
    #btitle, #bdate{display:inline-block;margin-left:2em;margin-top: 1em; margin-right: 0;width: 10em;}
    #bdate{margin-left: 3.5em;}
    #btitle {
        font-family:'S-CoreDream-3Light'; 
        font-style:bold; 
        color:#ff3300;
        font-size:3em;
    }
    #bdate {
        font-family:'S-CoreDream-3Light';
        font-size:2em;
    }
    #id_uploaded_file{
        background-color:lightgray;
        border-radius:0.2em;
        padding:0.5em;
    }
    #bbody {
        font-family: 'S-CoreDream-3Light';
        font-size: 3em; 
        color:#505050;
        margin-top: 2em;
        padding-bottom: 3em;
    }
    #bcontent{width: 60em;}
    #bcontent2 {width: 50em;}
    #bcontent2, #bpwd {display :inline-block; font-family:'S-CoreDream-3Light';}

    #bpwd input[type=password] {
        width: 50%;
        border-top: thick solid #ffffff;
        border-right: thick solid #ffffff;
        border-left: thick solid #ffffff;
        border-bottom: thick solid #ff3300;
        }

    .ba:link,.ba:visited,.ba.active,.ba.hover 
    { text-decoration: none; color:#362f2d;font-size:1.5em; padding-right:auto;}

    #s_row{
        width: 55em;
    }
</style>

<div id="back">
    <div id="bcontent">
        <div id="btitle">{{ board.Title }}</div>
        <div id="bdate">{{ board.updated_at|date:"m/d H:i"}}</div>

        <div id="bimg">
            <img style="width:100%;" src="{{ board.file.url }}" alt="">
        </div>

        <div id="bbody">
            {{board.Text}}
        </div>
        <div id="bcontent2">
            <div id="bpwd">
                <form method="get" action="{% url 'delete' board.id %}">
                    {% comment %} {% csrf_token %}  {% endcomment %}
                    <input type="password" clss="pwdinput" name="passwd" required placeholder="비밀번호">
                    <input type="submit" value="" class="dbtn">
                </form>
            </div>
            <a class="ba"  id="id_uploaded_file" href="{{ board.file.url }}" download>다운로드</a>
        </div>
    </div>
</div>
{% endblock %}
