{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight:normal; font-style: normal; }

    div#header{
        width: 61.5em;
    }
    div#contents{
        padding-bottom: 25em;
    }
    body {background-color:#f5f5f5; width: 61.5em;}
    /* back div - shadow */
    #back {
        width: 60em;
        min-height: 120;
        margin: 1em;
        background-color: #ffffff;
        box-shadow: 2px 2px 5px grey;
        }

    /* contents */
    #btitle, #bdate{display:inline-block;margin-left:2em;margin-top: 1em; margin-right: 0;width: 10em;}
    #btitle {
        font-family:'S-CoreDream-3Light'; 
        font-style:bold; 
        color:#ff3300;
        font-size:3em;
        margin: 1em;
        margin-bottom: 0;
    }
    #bdate {
        font-family:'S-CoreDream-3Light';
        font-size:2em;
        margin-left: 1.5em; margin-top: 0;
    }
    #id_uploaded_file{
        background-color:#362f2d;
        border-radius:0.2em;
        padding:0.5em;
        margin-left: 1em;
        margin: 2em;
        color: #f5f5f5;
        width: 4em;
        height: 2em;
    }
    #bbody {
        font-family: 'S-CoreDream-3Light';
        font-size: 3em; 
        color:#505050;
        margin: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #bcontent{width: 60em;}
    #bcontent2 {width: 50em;margin-left: 2em;}
    #bcontent2, #bpwd {display :inline-block; font-family:'S-CoreDream-3Light';}
    #b{padding: 2em;}
    #bpwd{margin: 1em; padding: 2em;}
    #bpwd input[type=password] {
        width: 20em;
        height: 4em;
        border-top: thick solid #ffffff;
        border-right: thick solid #ffffff;
        border-left: thick solid #ffffff;
        border-bottom: thick solid #ff3300;
        }
    input.dbtn{ 
        background-color:#362f2d;
        border-radius:0.5em;
        padding:0.2em;
        color: #f5f5f5;
        width: 8em;
        height: 4em;
        font-size: 1em;
    }
    .pwdinput#passwd{ width: 2em;}
    .ba:link,.ba:visited,.ba.active,.ba.hover 
    { text-decoration: none; color:#362f2d;font-size:1.5em; padding-right:auto; background-color: #362f2d}

    #s_row{
        width: 55em;
    }
    #bimg{
        width: 45em;
        height: auto;
        align-items: center;
        margin-left: 4em;
        margin-top: 2em;
    }
</style>

<div id="back">
    <div id="bcontent">
        <div id="b">
                <div id="btitle">{{ board.Title }}</div>
                <div id="bdate">{{ board.updated_at|date:"m/d H:i"}}</div>
        
                <div id="bimg">
                    <img style="width:100%;" src="{{ board.file.url }}" alt="">
                    <video style="width:100%" controls>
                        <source src="{{ board.file.url }}" type='video/ogg'>
                    </video>
                </div>
        
                <div id="bbody">
                    {{board.Text}}
                </div>
                <div id="bcontent2">
                    <div id="bpwd">
                        <form method="get" action="{% url 'delete' board.id %}">
                            {% comment %} {% csrf_token %}  {% endcomment %}
                            <input type="password" clss="pwdinput" name="passwd" required placeholder="비밀번호">
                            <input type="submit" value="게시글 삭제" class="dbtn">
                        </form>
                    </div>
                    <br>
                    <a class="ba"  id="id_uploaded_file" href="{{ board.file.url }}" download>이미지 다운로드하기</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}
