{% extends 'base.html' %}
{% load static %}
{%block content%}

<style>
    body{background-color: #F5f5f5;}
</style>

<div id="pback">
<div class="container" id="left" style="width:30em;height:30em;">
            ddddd
</div>
    
{%for board in boards.all%}
<input type="hidden" id="treasure_id" value="{{board.id}}"> 
<input type="hidden" id="treasure_url" value="{{board.file.url}}">
    <script>
        var left=document.getElementById('left');
        var right=document.getElementById('right');
        var hidden=document.getElementById('treasure_id');
        var hidden_url=document.getElementById('treasure_url');

        if(hidden%2==0){
            var x = document.createElement('div');
            x.style.backgroundImage = '"url("'+hidden_url+')"';
            left.appendChild(x);
        } 
    </script>
{%endfor%}

</div>

{%endblock%}
