{% extends 'base.html' %}
{% block content %}

<style>
    body{background-color: #f5f5f5;
    }
    textarea{width:30em;}
    div.container {
        min-width:55em;
        background-color: #ffffff;
        margin-left:3%;
        box-shadow: 2px 2px 5px grey;
        padding-left:15%;
        padding-top:5%;
        padding-bottom:5%;
    }
    input{
        width:30em;
    }
    input[type=submit] {
        width:8em;
        height:3em;
        margin-left:35%;
        background-image:url("../../static/img/post.png");
        background-size:100%;
        background-repeat: no-repeat;
    }
</style>

<div class="container">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    <table id="ptable" class="table stripe" style="font-size:1.2em;">
        {{form.as_table}}
    </table>
    <Br>
        <input type="submit" value="">
    </form>
</div>
</div>

{% endblock %}
