/*폰트*/
@font-face { 
            font-family: 'HSBombaram'; 
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); 
            font-weight: normal; 
            font-style: normal;
            }
@font-face { 
            font-family: 'S-CoreDream-3Light'; 
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
            font-weight:normal; 
            font-style: normal; 
            }

html, body{ margin:0; padding: 0; height:100%; width: 100;}
    
/*헤더*/
div#header{
            margin-bottom: 1em;
            padding-top: 3em;
            background-color: #ffffff;
            position: fixed;
            top: 0;
            left : 0;
            width: 100%;
            z-index: 1;
            }
        /* 타이틀 */
        .title{
                color: #ff3300;
                font-family: 'HSBombaram';
                text-align: center;
                margin-bottom: 0;
                }       
        .title#flower{
                        font-size: 4em; 
                        margin: auto;
                        border-top: 1.6em;
        }
        .title#since2019{
                                font-size: 1.3em; 
        }
        .title:hover{text-decoration: none;} 
        /* navbar */
        a.navbar-custom{
                        font-family: 'S-CoreDream-3Light';
                        color: #362f2d;         
                        font-size: 2em;
                        
        }
        a.navbar-custom:hover{
                font-family: 'S-CoreDream-3Light';
                color: #ff3300;
                text-decoration: underline;
                text-decoration-color: #ff3300;

    }
/* 내용 */
div#contents{   
                position: absolute;
                height: 80%;
                padding-bottom: 166em;
                padding-top: 14em;
        }
                

/* 푸터 */
div#footer{
            background-color: #323232;
            color: #ffffff;
            font-family: 'Nanum Square';
            text-align: left;
            padding: 1.5em;
            width: 100%;
            position:fixed; 
            bottom:0;
            left:0;
    }
    /*구조*/
    #footer>.row{    margin: 1em;  }
    .side{ padding: 0;}
    div.row{ margin: 0em;}
    .box{ padding: 1em;}
    #rightside{vertical-align: center;}
    /*글자*/
    h3.title_m{  font-weight: 700; font-size: 1.5em; margin-right: 1.5em; }
    h4.title_s{  font-weight: 400; font-size: 1em;  margin: 0.4em; margin-left:0;}
    h5.content{  font-weight: 100; font-size: 0.7em; margin-top: auto; margin-bottom: auto;}
    .logo{     font-weight: 900;  }
    /*로고*/
    .logo{ height: 1em; font-size: 3em;}
    H1.logo{ font-size: 1.6em; margin: 0;}
    #logo>h5.content{ font-size: 0.6em;}
    .box#logo{ padding: 0;vertical-align: middle; }
    .row#logo{ padding:0; margin-top: 1em; margin-left: 1.5em; align-items: center; width: 30em;}
    